<p>splash works!</p>
<div class="container mt-3">
    <ngb-carousel #carousel>
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1656663353876_thor_web.jpg" alt="Img 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1656753889901_apc_web.jpg" alt="Img 2">
        </div>
        
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-block">
          <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1655378283146_coinweb.jpg" alt="Img 3">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <a routerLink="/movies">
          <img src="https://orig00.deviantart.net/4258/f/2015/105/9/d/marvel_movie_folder_icon_pack__clean__by_musacakir-d8pskhr.png">
        </a>
      </div>
    </div>
  </div>
  
  
  
  
