
  




<div class="container">
  <div class="row">
      <div class="col">
          <div class="card h-100">
            <div class="card" style="width:400px">
              <div class="container mt-3">
                <ngb-carousel #carousel>
                  <ng-template ngbSlide>
                    <div class="img-block">
                      <img src="https://loremflickr.com/g/1200/800/paris" alt="Img 1">
                    </div>
                    <div class="carousel-caption">
                      <h3>Li Europan lingues</h3>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="img-block">
                      <img src="https://loremflickr.com/1200/800/brazil,rio" alt="Img 2">
                    </div>
                    <div class="carousel-caption">
                      <h3>On refusa continuar</h3>
                      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="img-block">
                      <img src="https://loremflickr.com/1200/800/paris,girl/all" alt="Img 3">
                    </div>
                    <div class="carousel-caption">
                      <h3>Plu sommun paroles</h3>
                      <p>At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                    </div>
                  </ng-template>
                </ngb-carousel> 
              </div>
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary">See Profile</a>
              </div>
            </div>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
      </div>
      <div class="col">
          <div class="card h-100">
            <div class="card" style="width:400px">
              <div class="container mt-3">
                <ngb-carousel #carousel>
                  <ng-template ngbSlide>
                    <div class="img-block">
                      <img src="https://loremflickr.com/g/1200/800/paris" alt="Img 1">
                    </div>
                    <div class="carousel-caption">
                      <h3>Li Europan lingues</h3>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="img-block">
                      <img src="https://loremflickr.com/1200/800/brazil,rio" alt="Img 2">
                    </div>
                    <div class="carousel-caption">
                      <h3>On refusa continuar</h3>
                      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="img-block">
                      <img src="https://loremflickr.com/1200/800/paris,girl/all" alt="Img 3">
                    </div>
                    <div class="carousel-caption">
                      <h3>Plu sommun paroles</h3>
                      <p>At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                    </div>
                  </ng-template>
                </ngb-carousel> 
              </div>
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary">See Profile</a>
              </div>
            </div>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some more quick example text for the card's content.</p>
              </div>
            </div>
      </div>
      <div class="col">
          <div class="card h-100">
            <div class="card" style="width:400px">
              <div class="container mt-3">
                <ngb-carousel #carousel>
                  <ng-template ngbSlide>
                    <div class="img-block">
                      <img src="https://loremflickr.com/g/1200/800/paris" alt="Img 1">
                    </div>
                    <div class="carousel-caption">
                      <h3>Li Europan lingues</h3>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="img-block">
                      <img src="https://loremflickr.com/1200/800/brazil,rio" alt="Img 2">
                    </div>
                    <div class="carousel-caption">
                      <h3>On refusa continuar</h3>
                      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="img-block">
                      <img src="https://loremflickr.com/1200/800/paris,girl/all" alt="Img 3">
                    </div>
                    <div class="carousel-caption">
                      <h3>Plu sommun paroles</h3>
                      <p>At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                    </div>
                  </ng-template>
                </ngb-carousel> 
              </div>
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary">See Profile</a>
              </div>
            </div>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to make up the bulk of the card's content.</p>
              </div>
            </div>
      </div>
  </div>
</div>

